/*body{
    background-size: cover !important;
    background-image: url('../img/layoutBackground.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    background-attachment: fixed !important;
}

.title {
    font-size: 2.5em;
    font-weight: 400;
    text-align: left;
    vertical-align: baseline;
    text-transform: capitalize;
    color:#fff;
}*/
