 
.jvn-avatar-dropdown {
  color: #000000;
  font-weight: 400;
  line-height: 40px;
  cursor: pointer;
}
.jvn-avatar-dropdown:hover {
  text-decoration: none;
  color: #000000;
}
.popover {
  padding: 0;
}
.popover .popover-content ul {
  padding: 0;
  margin-bottom: 15px;
}
.popover .popover-content ul > li {
  list-style: none;
  font-size: 14px;
  color: #000000;
  margin: 0;
}
.popover .popover-content ul > li .fa {
  margin-right: 10px;
}
.popover .popover-content ul > li > a {
  display: block;
  padding: 5px;
  cursor: pointer;
}
.popover .popover-content ul > li > a:hover .popover .popover-content ul > li > a:visited,
.popover .popover-content ul > li > a:active,
.popover .popover-content ul > li > a:link {
  color: #086274;
  text-decoration: none;
}
.popover .popover-content ul > li > a:hover {
  background-color: #f5f5f5;
}
